<h1>Add a contact category/group</h1>
<p>Add a contact category here/group:</p>
<form action="/categories" method="post">
  <label for="category-name">Category name</label>
  <input id="category-name" name="category-name" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a>
